.dark{
    --text-color: #fff;
    --bg-color: #1F1F1F;
    --sidebar-color:#333;
    --foreground-color:#3E3E3E;
    --scrollbar-color:#464646;
    --danger-color: rgb(255, 103, 103);
    --danger-bg:rgb(81, 30, 30);
    --hover-color: rgb(253, 255, 133);
    --hover-bg: #4f4f4f;


    --contexify-menu-bgColor: var(--sidebar-color);
    --contexify-separator-color: var(--bg-color);
    --contexify-item-color: var(--text-color);
    --contexify-activeItem-color: #var(var(--text-color));
    --contexify-activeItem-bgColor: var(--hover-bg);
    --contexify-rightSlot-color: #6f6e77;
    --contexify-activeRightSlot-color: #fff;
    --contexify-arrow-color: #6f6e77;
    --contexify-activeArrow-color: #fff;
    --contexify-menu-radius: 0px;

}
//global styles

.color-danger{
    color: var(--danger-color);
}
.contexify_itemContent{
    gap:8px;
}