@import '../../../styles/mixins.scss';
.MDEditor{
    
    --accentBase: var(--hover-color);
    --accentBgSubtle: var(--hover-color);
    --accentBg: var(--hover-color);
    --accentBgHover: var(--hover-color);
    --accentBgActive: var(--foreground-color);
    --accentLine: var(--bg-color);
    --accentBorder: var(--bg-color);
    --accentBorderHover: var(--bg-color);

    --baseBase: var(--editor-bg);
    --baseBgSubtle: var(--secondary-bg-color);
    --baseBg:var(--editor-bg);
    --baseBgHover: var(--hover-bg);
    --baseLine: var(--border-color);
    --baseBorder: var(--border-color);
    --baseBorderHover: var(--scrollbar-color);
    --baseText: var(--text-color);
    --baseTextContrast: var(--text-color);

    --radius-medium:0px;
    [role="toolbar"] {
        font-size:32px;
        flex-wrap:wrap;
    }
    blockquote{
        margin: 1rem 2rem;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.book-page{
    flex-grow:1;
    position: relative;
    
    display:flex;

    &__anim{
        background: var(--bg-color);
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:3;
        animation: 0.5s ease-in fadeIn reverse; 
    }
    &__editor{
        overflow-y: auto;
        scrollbar-gutter: stable ;
        @include custom-scrollbar(16px);
        background : var(--editor-bg);
        
        flex-grow:1;
        
    }
    &__search-container{
        padding:8px 32px;
        height:64px;
        flex-shrink: 0;
        width: 100%;
        @include input-text; 
        input{
            background : var(--secondary-bg-color);
        }
        i{
            left:32px;
        }
        border-bottom: 2px solid var(--border-color);

        transition:all 0.3s ease-in-out;
        .book-page__sidebar--closed &{
            opacity:0;
            cursor:unset;
            input{
                display: none;
            }
        }
    }
    //sidebar
    &__sidebar{
        background: var(--secondary-bg-color);
        max-height:100vh;
        flex-shrink: 0;
        width:25%;
        display: flex;
        flex-direction: column;

        transition:all 0.3s ease-in-out;

        &--closed{
            width:64px;
        }

        &-footer{
            padding:8px 16px;
            @include center-content;
            justify-content: flex-end;

            font-size:32px;
        }

        &-header{
            flex-shrink: 0;
            padding:8px 16px;
            
            &-text{
                @include lineOverflow;
            }

            @include center-content;

            justify-content: space-between;

            font-size:32px;
            
            border-bottom:2px solid var(--border-color);
            border-right:2px solid var(--border-color);
        }

        &-list-container{
            min-height: 0;
            flex-grow:1;

            position: relative;
            overflow-y: auto;

            padding: 0px 8px;

            @include custom-scrollbar(16px);
            overflow-y: auto;
            scrollbar-gutter: stable both-edges;
            scroll-snap-type: y mandatory;

            transition:all 0.3s ease-in-out;
            .book-page__sidebar--closed &{
                opacity:0;
            }
        }
        &-list{
            display: flex;
            flex-direction: column;
            
        }
        &-item{
            font-size:24px;

            scroll-snap-align: start;

            position: relative;
            &::after{
                content:'';
                position: absolute;
                width:100%;
                height:2px;
                bottom:0;
                left:0;
                background: var(--border-color);
            }

            @include center-content;
            justify-content: space-between;

            padding:8px 0px;


            cursor:pointer;
            .book-page__sidebar--closed &{
                cursor:unset;
            }
            
            
            user-select:none;
            &-text{
                @include lineOverflow;
            }

            &--selected{
                background:var(--sidebar-color);
            }

            @include hoverBgAnim;
        }
    }
}