@import '../../styles/mixins.scss';
.sidebar{
    width:64px;
    height:100vh;
    max-height: 100vh;
    padding:8px;
    box-sizing:border-box;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;

    @media (max-width: 735px) {
        position: fixed;
        padding:16px 8px;
        left:0;
        top:0;
        z-index:1000;
        background:transparent;
        align-items:stretch;
    }
    
    gap:8px;

    transition: all 0.3s ease-in-out;
    

    background: var(--sidebar-color);
    &__icon{
        display: flex;
        gap:8px;
        align-items: center;
        
        font-size:32px;

        transition: all 0.3s ease-in-out;
        &:hover{
            color:var(--hover-color);
        }
        

        padding:0px 8px;
        width: 48px;
        transition: all 0.3s ease-in-out;
        .sidebar--open &{
            width:192px;
            @media (max-width: 735px) {
                width:calc(75% - 16px);
            }
        }
        @media (max-width: 735px) {
            opacity: 0;
            pointer-events: none;
            &.sidebar__menu{
                opacity: 1;
                pointer-events: all;
            }
            .sidebar--open &{
                opacity: 1;
                pointer-events: all;
            }
        }
    }
    &__opened-text{
        font-size:18px;
        @include lineOverflow;
        
        cursor:pointer;
        pointer-events: none;
        user-select:none;


        .sidebar__menu &{
            font-size:24px;
            font-weight: bold;
        }
        
    }
    &__list{
        min-height:0;
        flex-grow:1; 
        transition: all 0.3s ease-in-out;
        @media (max-width: 735px) {
            opacity: 0;
            pointer-events: none;
            .sidebar--open &{
                opacity: 1;
                pointer-events: all;
            }
        }
    }
    &--open {
        width:208px;
        background: var(--sidebar-color);
        @media (max-width: 735px) {
            width:75%;
        }
    }
    
}